<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.nonworkspace.demo.mapper.DummyDataMapper">
    <insert id="insertDummyData" parameterType="dummyDataVO" useGeneratedKeys="true" keyProperty="dummyId">
        INSERT INTO DUMMY_DATA(
              STRING_VALUE
            , NUMBER_VALUE
        ) VALUES (
              #{stringValue}
            , #{numberValue}
        )
    </insert>
    
    <select id="selectDummyDataList" resultType="dummyDataVO">
        SELECT DUMMY_ID
             , STRING_VALUE
             , NUMBER_VALUE
             , CREATE_DATE
          FROM DUMMY_DATA
         ORDER BY DUMMY_ID ASC, CREATE_DATE ASC
    </select>

    <select id="selectDummyDataPage" parameterType="pagingVO" resultType="dummyDataVO">
      SELECT T.ROWNUM AS ROW_NUMBER
           , T.DUMMY_ID
           , T.STRING_VALUE
           , T.NUMBER_VALUE
           , T.CREATE_DATE
        FROM (
               SELECT ROW_NUMBER() OVER (ORDER BY DUMMY_ID DESC, CREATE_DATE DESC) AS ROWNUM
                    , DUMMY_ID
                    , STRING_VALUE
                    , NUMBER_VALUE
                    , CREATE_DATE
               FROM DUMMY_DATA
             ) T
         LIMIT CAST(#{pageSize} AS INT)
        OFFSET CAST((#{pageNumber}) AS INT) * CAST(#{pageSize} AS INT)
    </select>

    <select id="selectDummyDataCount" resultType="java.lang.Integer">
        SELECT COUNT(*) AS TOTAL_COUNT
          FROM DUMMY_DATA
    </select>
</mapper>